footer.footer
  .wrap.content.content--small
    markdown:

      Created by [@teamon](http://github.com/teamon) and [@porada](http://github.com/porada).

      Thanks for help to [@sheerun](http://github.com/sheerun), [@jandudulski](http://github.com/jandudulski) and&nbsp;[contributors](https://github.com/rails-assets/rails-assets/graphs/contributors).
