/.bundle

/db/*.sqlite3
/db/*.sqlite3-journal

/log/*.log
/tmp

.DS_Store
.rbenv-version
.ruby-version
/data
.dogrc

/test-app/Gemfile.lock
/config/application.yml
/config/database.yml
/public/gems
/public/quick

/public/latest_specs.4.8.gz
/public/prerelease_specs.4.8.gz
/public/specs.4.8.gz
