node_modules

/.bundle

/db/*.sqlite3
/db/*.sqlite3-journal

/log/*.log
/tmp

.DS_Store
.rbenv-version
.ruby-version
/data
.dogrc

/test-app/Gemfile.lock
/config/application.yml
/public/gems
/public/quick

/public/*specs.*
/public/specs.4.8.gz
/public/data
/public/locks/
/public/components.json

/rails-assets-*

dump.rdb

Procfile.*
