<ul class="gemlist">
  <% @gems.each do |name, version| %>
    <li>
      <strong><%= name %> (<%= version %>)</strong>
      <code>gem install <%= name %> -v "<%= version %>"</code>
    </li>
  <% end %>
</ul>

<a href="upload">Upload Another Gem</a>
