<h2>Test results</h2>
<table id="results">
  <tr>
    <th>Library</th>
    <th>Result</th>
  </tr>
</table>

<div id="playground">
  <select id="select2">
    <option value="AL">Alabama</option>
    <option value="WY">Wyoming</option>
  </select>
</div>
