<pre class="file__content"><code><span class="method">gem</span> <span class="string">'rails-assets-bootstrap'</span>
<span class="method">gem</span> <span class="string">'rails-assets-angular'</span>
<span class="method">gem</span> <span class="string">'rails-assets-leaflet'</span></code></pre>
