article,
aside,
figcaption,
figure,
footer,
header,
nav,
section,
  display: block

*
  box-sizing: border-box

html
  font: 300 16px/1.4 adelle-sans, sans-serif
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

body
  margin: 0

a
  text-decoration: none
