@import "https://fonts.googleapis.com/css?family=Droid+Sans+Mono";


body {
  background: #ddd;
  color: #444;
  font-size: 1.2em;
  font-family: "helvetica neue",  sans-serif;
  margin: 0;
}

small {
  color: #999;
  font-size: 60%;
}


a {
  text-decoration: none;
  color: #00a;
}

a:hover {
  color: #00f;
}

a#more_link {
  font-size: 0.7em;
  line-height: 1.2;
  vertical-align: bottom;
}

form {
  margin: 0;
}

code {
  font-size: 0.7em;
  font-family: "Droid Sans Mono", monospace;
}

#content {
  background: #fff;
  border: 1px solid #ccc;
  width: 600px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0.5em 0 1em 0;
  text-align: center;
}

#content h1 {
  margin: 0;
  color: #a00;
  font-weight: 600;
  text-shadow: #aaa 1px 1px 1px;
}

h2 {
  font-weight: 200;
  font-size: 1em;
  color: #000;
  margin: 0 0 .5em 0;
  padding: 0.3em 0;
  background: #aaa;
  border-radius: .5em .5em 0 0; -moz-border-radius: .5em .5em 0 0; -webkit-border-radius: .5em .5em 0 0;
}

ul.gemlist {
  list-style: none;
  margin-top: 0em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

ul.gemlist li {
  margin: 1em;
  background: #eee;
  border-radius: .5em; -moz-border-radius: .5em; -webkit-border-radius: .5em;
  position: relative;
  overflow: hidden;
}

ul.gemlist li strong {
  display: block;
  font-size: 1.2em;
}

ul.gemlist li .delete-form {
  position: relative;
  margin: 2px 0;
}
ul.gemlist li button,
ul.gemlist li a.download
{
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: .5em 0 0 .5em; -moz-border-radius: .5em 0 0 .5em; -webkit-border-radius: .5em 0 0 .5em;
  background: #c55;
  border: 0;
  color: #fff;
  margin: 0;
  font-size: 8pt;
  padding: 3px;
  cursor: pointer;
}

ul.gemlist li a.download {
  background: #5c5;
  border-radius: .5em 0 0 .5em; -moz-border-radius: .5em 0 0 .5em; -webkit-border-radius:  0 .5em .5em 0;
  left: 0;
  right: auto;
}

ul.gemlist li:hover button,
ul.gemlist li:hover a.download {
  margin: 0;
  display: block;
}

.details {
  margin: 0;
  overflow: hidden;
  margin-top: 1em;
  font-size: 0.7em;
  border-radius: 0 0 .5em .5em; -moz-border-radius: 0 0 .5em .5em; -webkit-border-radius: 0 0 .5em .5em;
  border-top: 1px dashed #ddd;
  background: #ddd;
}

#alpha_index {
  font-size: 0.8em;
  margin-top: 1.0em;
  color: #aaa;
}


.gem-version p {
  margin: 0;
  padding: 1px 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}

.gem-version small.platform {
  padding: 0 0 0 15px;
}
