body {
  background: #a00;
  color: #444;
  font-size: 1.2em;
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #00a;
}

a:hover {
  color: #00f;
}

code {
  font-size: 0.7em;
}

#content {
  background: #fff;
  width: 600px;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  margin-top: 2em;
  padding: 1em;
  border: 1px solid #000;
  box-shadow: 0 0 3em #fff; -moz-box-shadow: 0 0 3em #fff; -webkit-box-shadow: 0 0 3em #fff;
  border-radius: 1em; -moz-border-radius: 1em; -webkit-border-radius: 1em;
  text-align: center;
}

#content h1 {
  margin: 0;
  color: #a00;
  text-shadow: #444 1px 1px 3px;
}

ul.gemlist {
  list-style: none;
  margin: 2em 0;
  padding: 0;
}

ul.gemlist li {
  margin: 1em;
  background: #eee;
  border: 1px solid #444;
  padding: .4em;
  border-radius: .5em; -moz-border-radius: .5em; -webkit-border-radius: .5em;
  position: relative;
}

ul.gemlist li strong {
  display: block;
  font-size: 1.2em;
}

ul.gemlist li .delete-form {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

ul.gemlist li:hover .delete-form {
  display: block;
}
