meta property="og:title" content="Rails Assets"
meta property="og:type" content="website"
meta property="og:url" content="https://#{Rails.configuration.x.hostname}/"
meta property="og:image" content="https://#{Rails.configuration.x.hostname}/avatar.png"
meta property="og:description" content="The solution to assets management in Rails."
