meta property="og:title" content="Rails Assets"
meta property="og:type" content="website"
meta property="og:url" content="http://rails-assets.org/"
meta property="og:image" content="http://rails-assets.org/avatar.png"
meta property="og:description" content="The solution to assets management in Rails."
