.content
  p + p
    margin-top: 0.75em

  pre
    margin: 1em 0
    padding: 1em
    padding-right: 0
    border: $diff-border-radius
    background: #f8f8f8
    line-height: 1.2

.content--small
  font-size: 0.8rem

  p + p
    margin-top: 0.25em
