.diff
  padding-left: $diff-vertical-padding
  line-height: 1.35 !important

  & + &
    margin-top: 2em

.diff__file
  background: $dimmed-text-color
  color: #fff
  margin: (-1 * $diff-vertical-padding) (-1 * $diff-horizontal-padding)
  padding: $diff-vertical-padding $diff-horizontal-padding
  border-radius: $diff-border-radius

.diff__added-line
  display: inline-block
  box-sizing: content-box
  width: 100%
  margin: -1px 0 -1px -1 * $diff-horizontal-padding
  padding: 1px 0 1px $diff-horizontal-padding
  background: $diff-green
  color: #fff

  b
    font: inherit
    color: lighten($diff-green, 15%)

.diff__added-line--first
  margin-top: -1 * $diff-vertical-padding
  padding-top: $diff-vertical-padding
  border-top-left-radius: $diff-border-radius
  border-top-right-radius: $diff-border-radius

.diff__added-line--last
  margin-bottom: -1 * $diff-vertical-padding
  padding-bottom: $diff-vertical-padding
  border-bottom-right-radius: $diff-border-radius
  border-bottom-left-radius: $diff-border-radius
