.gem-list__form
  padding: 1em 0 2em

.gem-list__item
  padding-bottom: 2em

  &:before
    content: ""
    display: block
    height: 1px
    background: $content-border-color
    margin-bottom: 1em

.gem__name
  display: block
  font: inherit
  font-weight: 500
  line-height: 1.2

.gem__versions
  color: $dimmed-text-color
  font-size: 0.8em

.gem__code
  display: block
  padding-top: 0.25em
  line-height: 1.1

.gem__description--empty
  color: $content-border-color

@media (max-width: $breakpoint-wide - 1px)
  .gem__description
    margin-top: 1rem

  .gem__description--empty
    display: none
