.hero
  padding: $hero-top-padding 0 0
  background: $hero-background-color asset-data-url("hero-image@2x.png") no-repeat
  background-position: center round($hero-top-padding / 2)
  background-size: 48px 48px
  text-align: center

  @media (max-width: $breakpoint-narrow - 1px)
    padding: round($hero-top-padding / 2) 0 $wrapper-default-padding
    background-position: center 1rem

  a, b
    font-weight: 500

.hero-title
  color: #fff

.hero-description
  color: $hero-text-color
  padding: $wrapper-default-padding 0
  a
    text-decoration: underline
