.hero
  padding: $hero-top-padding 0 (2 * $wrapper-default-padding)
  background: $hero-background-color asset-data-url("hero-image@2x.png") no-repeat
  background-position: center round($hero-top-padding / 2)
  background-size: 48px 48px
  color: $hero-text-color
  text-align: center

  @media (max-width: $breakpoint-narrow - 1px)
    padding: round($hero-top-padding / 2) 0 $wrapper-default-padding
    background-position: center 1rem

  a, b
    font-weight: 500

.hero__title
  color: #fff
  padding: 0 1rem $wrapper-default-padding

.hero__description
  a
    text-decoration: underline
