# Rails-Assets.org Build Worker systemd unit file
#                               for Ubuntu Xenial
#
# Run:
#   - systemctl enable rails-assets-build
#   - systemctl {start,stop,restart} rails-assets-build
#
# See Inspeqtor's Systemd wiki page for more detail about Systemd:
# https://github.com/mperham/inspeqtor/wiki/Systemd
#

[Unit]
Description=rails assets worker
# start us only once the network and logging subsystems are available,
# consider adding redis-server.service if Redis is local and systemd-managed.
After=syslog.target network.target

# See these pages for lots of options:
# http://0pointer.de/public/systemd-man/systemd.service.html
# http://0pointer.de/public/systemd-man/systemd.exec.html
[Service]
Type=simple
WorkingDirectory=/home/{{ app_name }}/rails-apps/{{ app_name }}/current
ExecStart=/usr/local/bin/bundle exec sidekiq -e {{ rails_env }}
User={{ app_name }}
Group={{ app_name }}
UMask=0002

# if we crash, restart
RestartSec=1
Restart=on-failure

# output goes to /var/log/syslog
StandardOutput=syslog
StandardError=syslog

# This will default to "bundler" if we don't specify it
SyslogIdentifier=sidekiq

[Install]
WantedBy=multi-user.target
