@import 'leaflet';
@import 'select2';
@import 'colorbox';
@import 'bourbon';
@import 'components-font-awesome';

body {
  font-family: sans-serif;
  overflow: hidden;
  @include linear-gradient(to right, #eee, #888);
}

#results {
  width: 300px;
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
  float: left;
  margin-right: 50px;
}

td, th {
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}

td { color: #fff; }
.ok { background-color: green; }
.error { background-color: red; }
.pending { background-color: orange; }

#playground {
  float: left;
}

#leaflet-map {
  width: 200px;
  height: 200px;
}
