server {
    listen 443 ssl;

    ssl_certificate /etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_prefer_server_ciphers on;
    ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';
    
    server_name {{ inventory_hostname }};
    root /home/{{ app_name }}/rails-apps/{{ app_name }}/current/public;
    rails_env {{ rails_env }};
    
    passenger_enabled on;
    passenger_min_instances 2;
    passenger_start https://{{ inventory_hostname }}/;

    # For letsencrypt
    location ~ /.well-known {
        allow all;
    }
}

server {
    listen 80;
    server_name _;
    return 301 https://{{ inventory_hostname }}$request_uri;
}

