article,
aside,
figcaption,
figure,
footer,
header,
nav,
section,
  display: block

*
  box-sizing: border-box

html
  background: #fff
  color: $default-text-color
  font: 400 15px/1.5 $default-font-stack
  text-rendering: optimizeLegibility
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

body, p, ul, ol, li, pre,
h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0
  list-style: none

a
  text-decoration: none
  transition: color 0.2s ease-out

  &:active
    position: relative
    top: 1px

pre
  @extend %word-wrap
  text-align: left !important

code
  font: 0.9em $code-font-stack
  font-weight: normal !important
  -webkit-font-smoothing: antialiased

::selection
  background: $brand-orange
  color: #fff
  text-shadow: none
