.header--gamma.section__header
  padding-bottom: 1rem

.grid--line
  .diff
    margin-top: round($wrapper-default-padding / 2)

@media (min-width: $breakpoint-wide)
  .gem-list__item,
  .grid--line
    &.grid:before
      margin-right: 10px
      margin-left: 10px

    .diff
      margin: 0 0 0 ($wrapper-default-padding / 2)

      & + .diff
        margin-top: 2em

@media (max-width: $breakpoint-wide - 1px)
  .gem-list__form .grid__cell--unpadded
    margin: 5px 0

  .footer
    .grid__cell + .grid__cell
      margin-top: 1em

@media (orientation: portrait), (orientation: landscape)
  .diff
    line-height: 1.25 !important

.bold
  color: #222

.honey-badger
  position: fixed !important
  background: rgba(#b82f25, 0.9) !important
  text-shadow: none !important
  box-shadow: none !important
