.top + .section
  margin-top: 3rem

.header--gamma.section__header
  padding-bottom: 0

.gem-list__item,
.grid--line
  &.grid:before
    margin-right: 10px
    margin-left: 10px

  .diff
    margin-left: $wrapper-default-padding / 2
