$brand-orange: #f36d00

$default-font-stack: "Whitney SSm A", "Whitney SSm B", sans-serif
$header-font-stack: adelle-sans, $default-font-stack

$wrapper-default-width: 600px
$wrapper-default-padding: 3rem

$top-background-color: $brand-orange
$top-text-color: #ffda8c

$hero-background-color: $top-background-color
$hero-text-color: $top-text-color
$hero-top-padding: 200px
